<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.Mapper.ClazzMapper">

    <resultMap id="clazzResultMapStep" type="Clazz">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <collection property="students"
                    select="com.wang.Mapper.StudentMapper.selectByCidStepTwo"
                    column="cid" />
    </resultMap>

     <select id="selectByStepOne" resultMap="clazzResultMapStep">
         select cid,cname from wang.t_clazz where cid = #{cid}
     </select>

    <resultMap id="clazzResultMap" type="Clazz">
        <id property="cid" column="cid"/>
        <result property="cname" column="cname"/>
<!--    一对多 这类是collection
        offType属性来指定集合中的元素类型             -->
        <collection property="students" ofType="Student">
            <id property="sid" column="sid"/>
            <result property="sname" column="sname"/>
        </collection>
    </resultMap>
    <select id="selectByCollection" resultMap="clazzResultMap" >
        select c.cid, c.cname, s.sid, s.sname from wang.t_clazz c left join wang.t_stu  s on s.cid = c.cid
        where c.cid =#{cid}
    </select>



    <select id="selectByIdStepTwo" resultType="Clazz">
        select cid, cname from wang.t_clazz where cid = #{cid}
    </select>

</mapper>